.idea/*
*.pyc
*/checkpoints/*
*-sample*.npy
*power.npy
FACE/evaluate/oracle/*
FACE/data/*.npy
FACE/train/models/*
data/power/end2end/power.npy
*_pool.npy
end2end/end2end-bootstrap/**
end2end/end2end-evaluations/**
end2end/experiment-records/**
end2end/figures/
end2end/model-evaluation/** 
end2end/parsed-records/**
models/**
!models/*origin_models
take-over.md
